@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>FootBuy</h1>

<p>This site is most definitely not a scam, you can try it yourself! I checked it out on my own, and it seems alright... (I swear it's not a scam)</p>
